# Testing Results 

## Spectrogram Duration
| Duration (s) | Precision | Recall |    F1 |
|--------------|:---------:|-------:|------:|
| 1            |   0.874   |  0.855 | 0.864 |
| 2            |   0.889   |  0.833 | 0.860 |
| 3            |   0.864   |  0.803 | 0.833 |
